.peru-flag {
    width: 50%;
    border-radius: 8px; 
}

.south-korea-flag {
    width: 50%;
    border-radius: 8px; 
}

.italy-flag {
    width: 50%;
    border-radius: 8px; 
}

.thailand-flag {
    width: 50%;
    border-radius: 8px; 
}

.japan-flag {
    width: 50%;
    border-radius: 8px; 
}
