
main{
    background-image: url("Images/Background.jpg");
}


/* testing borders */

main > section.intro-section{
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(4, 87, 15, 0.2);
    margin: 10px 10px 10px 10px;
}

main > section.images-section{
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(240, 209, 209);
    margin: 10px 10px 10px 10px;
}

main > section.post-img-section{
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(4, 87, 15, 0.2);
    margin: 10px 10px 10px 10px;
}

main > div.grid-container-cities{
    background-color: rgb(255, 255, 255);
    border: 10px solid rgb(238, 13, 13, 0.2);
    margin: 10px 10px 10px 10px;
}

/* header image */
header{
    background-image: url('./Images/Italy/header-italy.png');
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
    background-size: contain;
    padding: 0px;
    margin:0px;
    background-color: #ffffff;

}

/* intro images */
.moving-wrapper{
    text-align: center;
}

.italy-map{
    height: 300px;
    width: 300px;
    display: inline-block;
    padding: 20px;
    margin: 5px;
    
}

/* grid of italian cities */
.grid-container-cities {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    background-color: lightpink;
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px;
    justify-content: center;


    border: 10px solid rgb(253, 235, 235);
    margin: 10px 10px 10px 10px;

}

/* image display */
.image-wrapper{
    width: 250px;
    height: 150px;
    display: inline;
    position: relative;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: .3s;
}

h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: .3s; 
}

.image-wrapper:hover img{
    filter: blur(2px); 
}

.image-wrapper:hover h3{
    opacity: 1;
}

/* links */
.image-wrapper a{
    color:black;
    text-decoration: none;
}

/* intro section */
section.intro-section, .post-img-section{
    padding: 10px;
}

