.peru-flag {
    width: 50%;
    border-radius: 8px; 
}

.south-korea-flag {
    width: 50%;
    border-radius: 8px; 
}

.italy-flag {
    width: 50%;
    border-radius: 8px; 
}

.thailand-flag {
    width: 50%;
    border-radius: 8px; 
}

.japan-flag {
    width: 50%;
    border-radius: 8px; 
}

/* grid of flags */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: blanchedalmond;
    padding: 10px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

