body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 1fr 100px;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;

    grid-template-areas: 
        "header header header"
        "intro-desc img img"
        "mini-grid mini-grid mini-grid"
        "footer footer footer"    
    ;
}

/* grid areas */
header{
    grid-area: header;
}

section#intro-desc{
    grid-area: intro-desc;
}

#img-div{
    grid-area: img;
}

div#mini-grid-container{
    grid-area: mini-grid;
}

footer{
    grid-area: footer;
}


@media screen and (max-width: 773px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 200px 250px 340px auto 100px;
      grid-template-areas:
        "header"
        "intro-desc"
        "img"
        "mini-grid"
        "footer";
    }

    header{
        grid-template-columns: 1fr;
    }

    footer{
        grid-template-columns: 1fr;
    }

}
  


/* header */
.container header{
    border: 10px solid rgb(255, 254, 171);
    background-image: url('../../../Images/Italy/header-italy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin:10px 10px 10px 10px;
    background-color: #fdf9cf;
}


/* intro description section */
.container section{
    padding:10px;
    overflow: hidden;
}

#intro-desc{
    grid-column-start: 1;
    grid-column-end: 2;

    border: 10px solid rgb(210, 236, 202);
    margin: 10px 10px 10px 10px;
}

#intro-desc p{
    max-width: 80%;
}

/* image div */
div#img-div{
    display: grid;
    justify-content: center;
    align-items: center;
   
    overflow: hidden;

    border: 10px solid rgb(235, 198, 198);
    margin: 10px 10px 10px 10px;
}

#rome-colosseum{
    max-width: 100%;
    max-height: 80%;

}

img{
    width: 400px;
    height: 300px;
    max-width: 100%;
}

/* mini grid containing recipes of Rome */
.container div{
    padding: 10px;
    border: 1px solid rgb(254, 255, 170);
}

#mini-grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    background-color: rgb(255, 255, 255);
    column-gap: 30px;
    row-gap: 30px;
    padding: 50px;
    justify-content: center;


    border: 10px solid rgb(255, 252, 205);
    margin: 10px 10px 10px 10px;

    grid-column-start: 1;
    grid-column-end: 4;
}

.image-wrapper{
    width: 250px;
    height: 150px;
    display: inline;
    position: relative;
}

h3{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
    color: white;
    opacity: 0;
    transition: .3s; 
}

.image-wrapper img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: .3s;
}

/* hover */
.image-wrapper:hover img{
    filter: blur(2px); 
}

.image-wrapper:hover h3{
    opacity: 1;
}

/* links */
.image-wrapper a{
    color:rgb(255, 255, 255);
    text-decoration: none;
} 


/* footer */
.container footer{
    padding: 10px;
    
    border: 10px solid rgb(210, 236, 202);
    margin: 10px 10px 10px 10px;
}

footer{
    grid-column-start: 1;
    grid-column-end: 4;
}