body{
    margin: 0;
}

div.container{
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 400px 1fr 1fr;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;

    grid-template-areas: 
        "header header header"
        "recipe-intro img img"
        "ingredients ingredients ingredients"
        "preparation preparation preparation"    
    ;  
}

/* grid areas */
header{
    grid-area: header;
}

#recipe-intro{
    grid-area: recipe-intro;
}

#img-div{
    grid-area: img;
}

#ingredients{
    grid-area: ingredients;
}

#preparation{
    grid-area: preparation;
}

/* header */
.container header{
    border: 10px solid rgb(255, 254, 171);
    background-image: url('../../../../Images/Italy/header-italy.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin:10px 10px 10px 10px;
    background-color: #fdf9cf;
}

/* recipe intro */
#recipe-intro{
    grid-column-start: 1;
    grid-column-end: 2;

    border: 10px solid rgb(253, 235, 235);
    margin: 10px 10px 10px 10px;

    padding:10px;
    overflow: hidden;
}

/* image div */
div#img-div{
    display: grid;
    justify-content: center;
    align-items: center;
   
    overflow: hidden;

    border: 10px solid rgb(253, 235, 235);
    margin: 10px 10px 10px 10px;
}

#pasta{
    max-width: 100%;
    max-height: 80%;
}

img{
    width: 400px;
    height: 300px;
    max-width: 100%;
}

/* ingredients */
#ingredients{
    grid-column-start: 1;
    grid-column-end: 4;

    border: 10px solid rgb(253, 235, 235);
    margin: 10px 10px 10px 10px;
}


/* directions */
#preparation{
    grid-column-start: 1;
    grid-column-end: 4;

    border: 10px solid rgb(253, 235, 235);
    margin: 10px 10px 10px 10px;
}

/* fonts */
h2, ul, li{
    margin: 10px 10px 10px 10px;
}

h1, h3, p{
    margin: 10px 10px 10px 10px;
}